---
import { Icon } from "astro-icon/components";

import Button from "@/components/Button.astro";

interface Contact {
  title: string;
  icon: string;
  description: string;
  details: Array<{
    text: string;
    icon: string;
    href?: string;
  }>;
  button: {
    text: string;
    href: string;
  };
}

const contacts: Contact[] = [
  {
    title: "Visit Our Showroom",
    icon: "showroom",
    description:
      "See electric fires operating, feel the heat, touch finish samples. Expert advice on-site at our Whitchurch Road location.",
    details: [
      {
        text: "Free parking | Tuesday-Saturday",
        icon: "car",
      },
    ],
    button: {
      text: "Book Showroom Visit",
      href: "/book-visit",
    },
  },
  {
    title: "Free Home Survey",
    icon: "survey",
    description:
      "We'll visit your Cardiff property to assess your space, take measurements, and discuss your fireplace vision at no cost or obligation",
    details: [
      {
        text: "Available throughout Cardiff, South Wales, Bristol & Bath",
        icon: "location",
      },
    ],
    button: {
      text: "Request Home Survey",
      href: "/request-survey",
    },
  },
  {
    title: "Speak to Our Team",
    icon: "phone",
    description:
      "Prefer to talk? Call us directly or send a WhatsApp message for quick responses to your questions.",
    details: [
      {
        href: "tel:02920309664",
        text: "029 2030 9664",
        icon: "call",
      },
      {
        href: "https://wa.me/447532669665",
        text: "07532 669665",
        icon: "whatsapp",
      },
    ],
    button: {
      text: "Call Now",
      href: "tel:02920309664",
    },
  },
  {
    title: "Email Your Question",
    icon: "email",
    description:
      "Send us your questions, project details, or information requests. We'll respond within 24 hours during business days.",
    details: [
      {
        href: "mailto:info@supplymyfire.com",
        text: "info@supplymyfire.com",
        icon: "mailbox",
      },
    ],
    button: {
      text: "Send Email",
      href: "mailto:info@supplymyfire.com",
    },
  },
];
---

<section class="noise bg-neutral-100 relative overflow-hidden py-10 lg:py-15">
  <div class="grid gap-10">
    <h2 class="text-center text-secondary">
      How Would You <em>Like to Connect?</em>
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5">
      {
        contacts.map((contact) => (
          <div class="border border-neutral-200 bg-white p-6 rounded-lg flex flex-col">
            <div class="flex flex-col gap-10 flex-1">
              <div class="border border-neutral-200 rounded-lg p-3.5 size-fit">
                <Icon name={contact.icon} class="size-6 md:size-8.5" />
              </div>

              <div class="flex flex-col gap-8 flex-1">
                <div class="grid gap-2">
                  <h3 class="text-h3-variant-3">{contact.title}</h3>

                  <p class="text-body-variant-1">{contact.description}</p>
                </div>

                <div class="flex flex-col flex-1 justify-between">
                  <div class="grid gap-4">
                    {contact.details.map((detail) => (
                      <div class="flex items-center gap-2">
                        <Icon name={detail.icon} class="size-5 shrink-0" />

                        {(() => {
                          const Tag = detail.href ? "a" : "span";

                          return (
                            <Tag
                              href={detail.href}
                              class:list={[
                                "font-medium text-sm",
                                detail.href && "hover:underline",
                              ]}
                            >
                              {detail.text}
                            </Tag>
                          );
                        })()}
                      </div>
                    ))}
                  </div>

                  <Button
                    href={contact.button.href}
                    variant="primary"
                    width="full"
                    class="mt-10 md:mt-4"
                    text={contact.button.text}
                  />
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
