---
import type { GetStaticPaths } from "astro";

import fs from "node:fs";

import Layout from "@/layouts/Layout.astro";

import Hero from "@pages/location/Hero.astro";
import Planning from "@pages/location/Planning.astro";
import TrustedFireplace from "@pages/location/TrustedFireplace.astro";
import Services from "@pages/location/Services.astro";
import HowItWorks from "@pages/location/HowItWorks.astro";
import WhyChooseUs from "@pages/location/WhyChooseUs.astro";
import Areas from "@pages/location/Areas.astro";
import RecentInstallations from "@pages/location/RecentInstallations.astro";
import Testimonials from "@/components/Testimonials.astro";
import FAQs from "@/components/FAQs.astro";
import Ready from "@pages/location/Ready.astro";
import Showroom from "@/components/Showroom.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const locations = await fs.promises.readdir("src/data/locations");

  return locations.map((location) => ({
    params: { location },
  }));
};

const meta = (
  await import(`@/data/locations/${Astro.params.location}/meta.json`)
).default as typeof import("@/data/locations/cardiff/meta.json");

const faqsData = (
  await import(`@/data/locations/${Astro.params.location}/faqs.json`)
).default as typeof import("@/data/locations/cardiff/faqs.json");

const showroomData = (
  (await import(
    `@/data/locations/${Astro.params.location}/showroom.ts`
  )) as typeof import("@/data/locations/cardiff/showroom.ts")
).default;
---

<Layout title={meta.title} description={meta.description}>
  <div>
    <Hero />
    <Planning />
  </div>

  <TrustedFireplace />
  <Services />
  <HowItWorks />
  <WhyChooseUs />
  <Areas />
  <RecentInstallations />
  <Testimonials title={meta.testimonialsTitle} />
  <FAQs {...faqsData} />
  <Showroom {...showroomData} />
  <Ready />
</Layout>
