---
import fs from "node:fs";

// @ts-ignore
import unslugify from "unslugify";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Logo from "@/../public/logo.png";

const socials = [
  {
    icon: "x",
    href: "#",
  },
  {
    icon: "facebook",
    href: "#",
  },
  {
    icon: "instagram",
    href: "#",
  },
  {
    icon: "github",
    href: "#",
  },
];

const contacts = [
  {
    icon: "location",
    text: "<span class='font-semibold'>Address:</span> 112 Whitchurch Road, Cardiff, CF14 3LY",
  },
  {
    icon: "call",
    text: "<span class='font-semibold'>Phone:</span> 029 2030 9664",
  },
  {
    icon: "mailbox",
    text: "<span class='font-semibold'>Email:</span> info@supplymyfire.com",
  },
  {
    icon: "whatsapp",
    text: "<span class='font-semibold'>WhatsApp:</span> 07532 669665",
  },
];

const locations = await fs.promises.readdir("src/data/locations"),
  products = await fs.promises.readdir("src/data/products");
---

<footer class="bg-secondary mt-15 py-5 md:py-6.5">
  <section class="text-muted">
    <div class="lg:flex space-y-10 lg:space-y-0 justify-between">
      <div class="lg:max-w-76">
        <Image src={Logo} alt="logo" class="w-20" />

        <h3 class="text-h3-variant-2 mt-1 mb-2">
          Cardiff's Fire and Fireplace Experts
        </h3>

        <p class="text-body-variant-1">
          Supply My Fire is Cardiff’s trusted specialist for fireplaces, stoves,
          and bespoke media walls.
        </p>

        <div class="flex gap-2 mt-4.5">
          {
            socials.map(({ icon, href }) => (
              <a
                href={href}
                aria-label={icon}
                class="block hover:scale-110 transition-transform"
              >
                <Icon name={icon} size={40} />
              </a>
            ))
          }
        </div>
      </div>

      <div class="grid grid-cols-2 lg:contents">
        <div class="space-y-3">
          <h3 class="text-h3-variant-2 mb-3.5">Products</h3>
          {
            products.map((product) => (
              <a
                href={`/products/${product}`}
                class="text-body-variant-1 hover:underline"
              >
                {unslugify(product)}
              </a>
            ))
          }
        </div>

        <div class="space-y-3">
          <h3 class="text-h3-variant-2 mb-3.5">Locations</h3>
          {
            locations.map((location) => (
              <a
                href={`/${location}`}
                class="text-body-variant-1 hover:underline"
              >
                {unslugify(location)}
              </a>
            ))
          }
        </div>
      </div>

      <div class="lg:max-w-64">
        <h3 class="text-h3-variant-2 mb-3.5">Contact & Hours</h3>
        <div class="space-y-4 lg:space-y-3">
          {
            contacts.map((contact) => (
              <div class="flex gap-3 items-center">
                <Icon
                  name={contact.icon}
                  class="text-primary-700 size-4 lg:size-5 min-w-4 lg:min-w-5"
                />

                <p
                  set:html={contact.text}
                  class="text-body-variant-1 lg:leading-6.5"
                />
              </div>
            ))
          }

          <div class="flex gap-3 items-start">
            <Icon name="watch" class="text-primary-700 size-4 lg:size-5 mt-1" />

            <div class="text-body-variant-1 lg:leading-6.5">
              <p class="font-semibold">Opening Hours:</p>

              <p class="font-medium mt-2">Tuesday-Friday:</p>
              <p>10:00 AM - 4:00 PM</p>

              <p class="font-medium mt-2">Saturday:</p>
              <p>10:00 AM - 2:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text-body-variant-1 md:flex justify-between border-t pt-4 md:pt-5 mt-7.5 border-white/20 text-center space-y-3.25 md:space-y-0"
    >
      <p>© 2025 Supply My Fire. All rights reserved.</p>

      <p>HETAS Approved | Gas Safe Registered</p>
    </div>
  </section>
</footer>
