---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Button from "@/components/Button.astro";

import BackgroundImage from "@/assets/images/ready-bg.jpg";

interface Card {
  icon: string;
  title: string;
  text: string;
  button: {
    text: string;
    href: string;
  };
}

interface Props {
  title: string;
  description: string;
  cards: Card[];
}

const { title, description, cards } = Astro.props;
---

<section>
  <div class="relative rounded-lg overflow-hidden">
    <Image
      role="presentation"
      src={BackgroundImage}
      alt=""
      class="absolute inset-0 size-full object-cover -z-20"
    />

    <div class="absolute inset-0 bg-primary-900/97 -z-10"></div>

    <div class="relative z-10 px-5 py-10 lg:p-15">
      <h2 class="text-white text-center max-w-xl mx-auto" set:html={title} />

      <p
        class="text-body-variant-1 text-center mt-4 text-white max-w-2xl mx-auto"
        set:html={description}
      />

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-12.5">
        {
          cards.map((card) => (
            <div class="bg-white px-6 py-7 rounded-lg flex flex-col justify-between">
              <div class="p-3.25 border border-neutral-200 rounded-lg w-fit mb-10 lg:mb-8 xl:mb-17.5">
                <Icon name={card.icon} size={34} />
              </div>

              <div>
                <h3 class="text-h3-variant-3 lg:text-xl xl:text-2xl mb-3 lg:mb-2 xl:mb-3">
                  {card.title}
                </h3>

                <p class="text-body-variant-1 mb-8 lg:mb-4 xl:mb-8">
                  {card.text}
                </p>

                <Button
                  href={card.button.href}
                  width="fit"
                  variant="primary"
                  text={card.button.text}
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
