---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Button from "@/components/Button.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  contacts: Array<{
    icon: string;
    title: string;
    text: string;
    href?: string;
  }>;
  buttons: Array<{
    href: string;
    text: string;
    variant: string;
  }>;
  mapImage: {
    src: ImageMetadata;
    alt: string;
  };
}

const { title, subtitle, description, contacts, buttons, mapImage } =
  Astro.props;
---

<section class="no-section-padding bg-neutral-100 py-7.5 lg:py-15">
  <h2 class="text-center" set:html={title} />

  <div class="lg:grid grid-cols-2 gap-8 xl:gap-10.5 items-center mt-7">
    <div class="max-w-172 mx-auto mb-6 lg:mb-0">
      <h3 class="text-2xl lg:text-[36px] font-serif text-secondary">
        {subtitle}
      </h3>

      <p class="text-body-variant-1 text-neutral-500 mt-6">
        {description}
      </p>

      <div class="space-y-3.5 mt-6 lg:mt-11">
        {
          contacts.map((contact) => (
            <div class="flex items-start">
              <div class="bg-white p-3 rounded-full w-fit mr-3">
                <Icon name={contact.icon} size={18} />
              </div>

              <p class="mt-2 font-semibold leading-6.5">
                {contact.title}
                {(() => {
                  const Tag = contact.href ? "a" : "span";

                  return (
                    <Tag
                      href={contact.href}
                      class:list={[
                        "font-normal",
                        contact.href && "hover:underline",
                      ]}
                      set:html={contact.text}
                    />
                  );
                })()}
              </p>
            </div>
          ))
        }
      </div>

      <div class="flex flex-col sm:flex-row flex-wrap mt-8 lg:mt-14 gap-3">
        {
          buttons.map((button) => (
            <Button
              href={button.href}
              width="fit"
              variant={button.variant as any}
              text={button.text}
              class="w-full sm:w-fit"
            />
          ))
        }
      </div>
    </div>

    <div class="size-full lg:max-h-138 max-w-172 mx-auto rounded-lg map-border">
      <Image {...mapImage} class="size-full object-cover rounded-2xl" />
    </div>
  </div>
</section>
