---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Button from "@/components/Button.astro";

import AreasBg from "@/assets/images/areas-bg.jpg";
import Cardif from "@/assets/images/cardiff.jpg";
import Newport from "@/assets/images/newport.jpg";
import Swansea from "@/assets/images/swansea.jpg";
import Bristol from "@/assets/images/bristol.jpg";
import Bath from "@/assets/images/bath.jpg";

const areas = [
  {
    href: "/cardiff",
    tag: "Our showroom location",
    name: "Cardiff",
    image: Cardif,
  },
  {
    name: "Newport",
    image: Newport,
  },
  {
    name: "Swansea",
    image: Swansea,
  },
  {
    name: "Bristol",
    image: Bristol,
  },
  {
    name: "Bath",
    image: Bath,
  },
];
---

<section>
  <div class="lg:flex space-y-4 lg:space-y-0 items-end justify-between mb-8">
    <h2 class="lg:w-2/5">
      <em>Serving</em> Cardiff, South Wales, Bristol & Bath
    </h2>

    <p class="lg:w-1/2">
      Our Cardiff showroom welcomes customers from across the region, and our
      professional installation services reach throughout South Wales and
      beyond. We provide expert installation in:
    </p>
  </div>

  <div class="relative rounded-2xl overflow-hidden">
    <div class="h-100 lg:h-148">
      <Image src={AreasBg} alt="areas-bg" class="h-full w-full object-cover" />

      <div class="absolute inset-0 bg-linear-to-b from-black/0 to-black"></div>
    </div>

    <div
      class:list={[
        "absolute bottom-3.5 lg:bottom-10 flex justify-center-safe w-full px-4 gap-2.5 lg:gap-4 overflow-x-auto hide-scrollbar",
        "py-10 -my-10" /* to allow scale on hover */,
      ]}
    >
      {
        areas.map((area) => {
          const Tag = area.href ? "a" : "div";

          return (
            <Tag
              href={area.href}
              class:list={[
                "block bg-white/10 backdrop-blur-[8.5px] rounded-[10px] p-1.5",
                area.href && "hover:scale-110 transition-transform",
              ]}
            >
              <div class="relative w-37 h-28 lg:w-42 lg:h-30 xl:w-56 xl:h-42 overflow-hidden rounded-lg">
                <Image
                  src={area.image}
                  alt={area.name}
                  class="w-full h-full object-cover"
                />

                {area.tag && (
                  <span class="absolute top-1 left-1 lg:top-2.5 lg:left-2.5 bg-primary-100 px-1.5 py-1 lg:px-2.5 lg:py-1.5 rounded-full text-xs text-secondary z-10">
                    {area.tag}
                  </span>
                )}
              </div>

              <div class="flex justify-between mt-3 px-2.5 items-center text-white">
                <span class="text-sm font-medium">{area.name}</span>

                <Icon name="location-5" size={22} class="hidden lg:block" />
              </div>
            </Tag>
          );
        })
      }
    </div>
  </div>

  <div class="mt-7 lg:mt-15">
    <h3
      class="text-h3-variant-4 lg:w-3/5 mx-auto text-center text-secondary leading-9.5"
    >
      Not sure if we cover your area? Contact us — we're happy to discuss your
      project regardless of location.
    </h3>

    <Button
      href="#"
      width="fit"
      variant="primary"
      text="Find Your Local Installation Service"
      class="mx-auto mt-6 lg:mt-7.5"
    />
  </div>
</section>
