---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import william from "@/assets/images/smith.jpg";
import john from "@/assets/images/wick.jpg";
import kam from "@/assets/images/sunny.jpg";

const members = [
  {
    image: william,
    name: "William Smith",
    role: "Founder & Director",
    description:
      "William Smith founded Supply My Fire in 4 with 2 years of industry experience. A Cardiff resident for 6 years, He holds HETAS and Gas Safe certifications and has completed over 7 installations across South Wales. His expertise in media wall design has made Supply My Fire Cardiff's go-to specialists.",
    accreditations: [
      "HETAS Approved",
      "Gas Safe Registered",
      "40+ Years Combined Experience",
    ],
  },
  {
    image: john,
    name: "John Wick",
    role: "Lead Installation Specialist",
    description:
      "John Wick brings 8 years of installation experience to every project. Specializing in complex media wall builds and period property adaptations, He ensures every Cardiff installation meets the highest standards. His attention to detail and tidy working practices have earned countless five-star reviews.",
    accreditations: [
      "HETAS Certified",
      "Gas Safe Registered",
      "40+ Years Combined Experience",
    ],
  },
  {
    image: kam,
    name: "Kam Sunny",
    role: "Showroom Manager",
    description:
      "As showroom manager, Kam Sunny helps Cardiff customers navigate the overwhelming world of fireplace choices. With expert knowledge of electric fires, gas technology, and design trends, He ensures you choose the perfect solution for your home and budget.",
    accreditations: ["Product Training", "10+ with Supply My Fire"],
  },
];
---

<section>
  <div class="text-center">
    <h2 class="mx-auto">
      Meet Our <em>Cardiff Team </em>
    </h2>

    <p class="text-body-variant-2 max-w-4xl mx-auto mt-2 lg:mt-2.5">
      Behind every stunning fireplace installation is our experienced
      Cardiff-based team. From initial consultation to final installation,
      you'll work with passionate professionals who take pride in transforming
      Cardiff homes.
    </p>
  </div>

  <div
    class="grid grid-cols-1 lg:grid-cols-3 mx-auto gap-6 lg:gap-5 mt-8 lg:mt-12.5"
  >
    {
      members.map((member, i) => (
        <div class="flex flex-col gap-6">
          <Image
            src={member.image}
            alt={member.name}
            class:list={[
              "aspect-square lg:aspect-427/544 rounded-xl object-cover",
              i === 0 && "object-top",
            ]}
          />

          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-4 lg:gap-6">
              <div class="flex flex-col gap-2">
                <h3 class="text-h3-variant-4">{member.name}</h3>

                <p class="text-body-variant-2 text-black">{member.role}</p>
              </div>

              <p class="text-body-variant-2">{member.description}</p>
            </div>

            <div class="flex flex-wrap gap-5">
              {member.accreditations.map((item) => (
                <div class="flex items-center gap-2">
                  <Icon name="check" size={16} />

                  <p class="clear-start text-small">{item}</p>
                </div>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
