---
import type { GetStaticPaths } from "astro";

import fs from "node:fs";

import Layout from "@/layouts/Layout.astro";

import Hero from "@pages/product/Hero.astro";
import Planning from "@pages/product/Planning.astro";
import MediaWall from "@pages/product/MediaWall.astro";
import HowItWorks from "@pages/product/HowItWorks.astro";
import WhyChooseUs from "@pages/product/WhyChooseUs.astro";
import DesignOptions from "@pages/product/DesignOptions.astro";
import RecentInstallations from "@pages/product/RecentInstallations.astro";
import Testimonials from "@/components/Testimonials.astro";
import FAQs from "@/components/FAQs.astro";
import Services from "@pages/product/Services.astro";
import Ready from "@pages/product/Ready.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const products = await fs.promises.readdir("src/data/products");

  return products.map((product) => ({
    params: { product },
  }));
};

const meta = (await import(`@/data/products/${Astro.params.product}/meta.json`))
  .default as typeof import("@/data/products/media-wall/meta.json");

const faqsData = (
  await import(`@/data/products/${Astro.params.product}/faqs.json`)
).default as typeof import("@/data/products/media-wall/faqs.json");
---

<Layout title={meta.title} description={meta.description}>
  <div>
    <Hero />
    <Planning />
  </div>

  <MediaWall />
  <HowItWorks />
  <WhyChooseUs />
  <DesignOptions />
  <RecentInstallations />
  <Testimonials title={meta.testimonialsTitle} />
  <FAQs {...faqsData} />
  <Services />
  <Ready />
</Layout>
